<!DOCTYPE html>
<html>
<style>
body {
  font-family:'Times New Roman', sans-serif;
}

p {
  font-family: sans-serif;
  color: green;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Забезпечте висоту в 100% видимого вікна для вирівнювання по центру */
  margin: 0; /* Видалення зовнішніх відступів */
}

ol, ul {
  list-style: none;
}

img {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: black;
}

h6 {
  font-style: italic;
}
</style>
</html>
