<!DOCTYPE html>
<style>
head {
    text:center;
}
body {
  font-family:Times New Roman, sans-serif;
  backgroundcolor:green;
}
ol, ul {
    list-style: none;
}
img {
  margin-left: auto; 
  margin-right: auto; 
}
h2 {
  color:red;
}
h6 {
  font-style: italic;
  text:center;
}
</style>
