body {
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  line-height: 1.6;
  background-color: #7aec7e;
}

p {
  font-family: sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: black;
}

h6 {
  font-style: italic;
}

</style>
</html>
