body {
  font-family: 'Times New Roman', sans-serif;
  background-color: rgb(227, 221, 184);
}

.container {
  margin: 0 auto;
}

nav {
  background-color: #007bff;
  padding: 10px;
}

nav h2 {
color: #000;
}

nav ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav li {
  
}

section {
  margin: 20px;
}

.text p {
  font-family:'Times New Roman', Times, serif;
  color: #000000;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
font-family: italic;
  color: black;
}

.text h4 {
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

h6 {
  font-style: italic;
}
